---js
const pagination = {
	data: 'collections.postsByCategoryPages',
	size: 1,
	alias: 'category'
}

const eleventyComputed = {
	permalink : function (data) {
      if (data.category.pageNumber == 1) {
        return `/archive/${data.category.category}/`;
      } else {
        return `/archive/${data.category.category}/page/${data.category.pageNumber}/`;
      }
    }
}
---
<div class="row">
	<div class="col-lg-9">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/">Home</a></li>
				<li class="breadcrumb-item"><a href="/archive">Archive</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{ category.category }}</li>
			</ol>
		</nav>
		<h2 class="fs-6">Category Archive: {{ category.category }}</h2>
		<ul class="mx-0 my-3 p-0">
		{% for post in category.posts %}
			<li class="py-2 d-flex justify-content-between align-items-center">
			<a class="text-body" href="{{ post.url }}">{{ post.data.title or post.url }}</a>
			<time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
			</li>
		{% endfor %}
		</ul>

		{% if category.pageCount > 1 %}
			<nav aria-label="Page navigation example">
				<ul class="pagination">
				{% if category.pageNumber > 1 %}
					<li class="page-item">
						<a class="page-link" href="" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
				{% else %}
					<li class="page-item disabled">
						<a class="page-link" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
				{% endif %}
				{% for i in range(1, category.pageCount + 1) %}
					{% if i == category.pageNumber %}
						<li class="page-item active">
							<a class="page-link" href="#" aria-current="page">{{ i }}</a>
						</li>
					{% else %}
						{% if(i == 1) %}
							<li class="page-item"><a class="page-link" href="/archive/{{ category.category }}/">{{ i }}</a></li>
						{% else %}
							<li class="page-item"><a class="page-link" href="/archive/{{ category.category }}/page/{{ i }}/">{{ i }}</a></li>
						{% endif %}
					{% endif %}
				{% endfor %}
				
				{% if category.pageNumber < category.pageCount %}
					<li class="page-item">
						<a class="page-link" href="" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				{% else %}
					<li class="page-item disabled">
						<a class="page-link" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				{% endif %}
				</ul>
			</nav>
		{% endif %}
	</div>
	<div class="col-lg-3">
		<div class="mb-4">
			<h3 class="fs-6 pb-2 mb-3 border-bottom"><i class="bi bi-archive"></i> Category Archive</h3>
			<ul class="m-0 p-0">
				{% for item in collections.postsByCategory %}
					{% if (category.category == item.category) %}
						<li class="d-flex justify-content-between align-items-center mb-2">
							<a href="/archive/{{ item.category }}/">
								{{ item.category }}
							</a>
							<span class="badge text-bg-light">{{ item.posts.length }}</span>
						</li>
					{% else %}
						<li class="d-flex justify-content-between align-items-center mb-2">
							<a class="text-secondary" href="/archive/{{ item.category }}/">
								{{ item.category }}
							</a>
							<span class="badge text-bg-light">{{ item.posts.length }}</span>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
		<div class="mb-4">
			<h3 class="fs-6 pb-2 mb-3 border-bottom"><i class="bi bi-archive"></i> Monthly Archive</h3>
			<ul class="m-0 p-0">
				{% for item in collections.postsByYearMonth %}
					{% set ym = item.yearMonth %}
					{% set year = ym | yearFromYearMonth %}
					{% set month = ym | monthFromYearMonth %}
					<li class="d-flex justify-content-between align-items-center mb-2">
						<a class="text-secondary" href="/archive/{{ year }}{{ month }}/">
							{{ item.date | readableDate("LLLL yyyy") }}
						</a>
						<span class="badge text-bg-light">{{ item.posts.length }}</span>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>