---js
const pagination = {
	data: 'collections.postsByYearMonthPages',
	size: 1,
	alias: 'ymGroup'
}

const eleventyComputed = {
	permalink : function (data) {
      if (data.ymGroup.pageNumber == 1) {
        return `/archive/${data.ymGroup.code}/`;
      } else {
        return `/archive/${data.ymGroup.code}/page/${data.ymGroup.pageNumber}/`;
      }
    }
}
---
<div class="row">
	<div class="col-lg-9">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/">Home</a></li>
				<li class="breadcrumb-item"><a href="/archive">Archive</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{ ymGroup.yearMonth | yearFromYearMonth }}-{{ ymGroup.yearMonth | monthFromYearMonth }}</li>
			</ol>
		</nav>
		<h2 class="fs-6">Archive: {{ ymGroup.yearMonth | yearFromYearMonth }}-{{ ymGroup.yearMonth | monthFromYearMonth }}</h2>
		<ul class="mx-0 my-3 p-0">
		{% for post in ymGroup.posts %}
			<li class="py-2 d-flex justify-content-between align-items-center">
			<a class="text-body" href="{{ post.url }}">{{ post.data.title or post.url }}</a>
			<time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
			</li>
		{% endfor %}
		</ul>

		{% if ymGroup.pageCount > 1 %}
			<nav aria-label="Page navigation example">
				<ul class="pagination">
				{% if ymGroup.pageNumber > 1 %}
					<li class="page-item">
						<a class="page-link" href="" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
				{% else %}
					<li class="page-item disabled">
						<a class="page-link" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
				{% endif %}
				{% for i in range(1, ymGroup.pageCount + 1) %}
					{% if i == ymGroup.pageNumber %}
						<li class="page-item active">
							<a class="page-link" href="#" aria-current="page">{{ i }}</a>
						</li>
					{% else %}
						{% if(i == 1) %}
							<li class="page-item"><a class="page-link" href="/archive/{{ ymGroup.code }}/">{{ i }}</a></li>
						{% else %}
							<li class="page-item"><a class="page-link" href="/archive/{{ ymGroup.code }}/page/{{ i }}/">{{ i }}</a></li>
						{% endif %}
					{% endif %}
				{% endfor %}
				
				{% if ymGroup.pageNumber < ymGroup.pageCount %}
					<li class="page-item">
						<a class="page-link" href="" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				{% else %}
					<li class="page-item disabled">
						<a class="page-link" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				{% endif %}
				</ul>
			</nav>
		{% endif %}
	</div>
	<div class="col-lg-3">
		<div class="mb-4">
			<h3 class="fs-6 pb-2 mb-3 border-bottom"><i class="bi bi-archive"></i> Monthly Archives</h3>
			<ul class="m-0 p-0">
				<li class="d-flex justify-content-between align-items-center mb-2">
					<a class="text-secondary" href="/archive/">All</a>
					<span class="badge text-bg-light">{{ collections.posts.length }}</span>
				</li>
				{% for item in collections.postsByYearMonth %}
					{% set ym = item.yearMonth %}
					{% set year = ym | yearFromYearMonth %}
					{% set month = ym | monthFromYearMonth %}
					{% if (ymGroup.yearMonth == item.yearMonth) %}
						<li class="d-flex justify-content-between align-items-center mb-2">
							<a href="/archive/{{ year }}{{ month }}/">
								{{ item.date | readableDate("LLLL yyyy") }}
							</a>
							<span class="badge text-bg-light">{{ item.posts.length }}</span>
						</li>
					{% else %}
						<li class="d-flex justify-content-between align-items-center mb-2">
							<a class="text-secondary" href="/archive/{{ year }}{{ month }}/">
								{{ item.date | readableDate("LLLL yyyy") }}
							</a>
							<span class="badge text-bg-light">{{ item.posts.length }}</span>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>