---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---
<div class="row">
	<div class="col-lg-9">
		{% set postsCount = collections.posts | length %}
		{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
		<h2 class="fs-6"><i class="bi bi-newspaper"></i> Recent</h2>

		{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
		{% set postslistCounter = postsCount %}
		{% include "postslist.njk" %}

		{% set morePosts = postsCount - numberOfLatestPostsToShow %}
		{% if morePosts > 0 %}
		<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="archive.njk">the archive</a>.</p>
		{% endif %}

		{# List every content page in the project #}
		{#
		<ul>
			{%- for entry in collections.all %}
			<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
			{%- endfor %}
		</ul>
		#}
	</div>
	<div class="col-lg-3">
		<div class="mb-4">
			<h3 class="fs-6 pb-2 mb-2 border-bottom"><i class="bi bi-file-person"></i> About me</h3>
			<div>
				A .NET developer
			</div>
		</div>
		<div class="mb-4">
			<h3 class="fs-6 pb-2 mb-3 border-bottom"><i class="bi bi-tags"></i> Tags</h3>
			<div>
				{% set tagslist = collections | getKeys | filterTagList | sortAlphabetically | head(16) %}
				{% for tag in tagslist %}
					{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
					<a href="{{ tagUrl }}" class="btn btn-light btn-sm border fs-7 mb-2">{{ tag }}</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
