<ul>
{%- for post in postslist | reverse %}
	<li class="my-4">
		<time class="" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLL yyyy") }}</time>
		<a href="{{ post.url }}" class="fs-5 text-body">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
	</li>
{%- endfor %}
</ul>
